<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product Form</title>
</head>
<body>
<h1>Product</h1>
<form th:action="@{/product/save}" th:object="${product}" method="post">
  <input type="hidden" th:field="*{id}">
  <label>Name:</label>
  <input type="text" th:field="*{name}" placeholder="Name"><br>
  <label>Detail:</label>
  <input type="text" th:field="*{description}" placeholder="Detail"><br>
  <label>Price:</label>
  <input type="number" th:field="*{price}" placeholder="Price"><br>
  <button type="submit">Save</button>
</form>
<a th:href="@{/}">Home</a>
</body>
</html>
